*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Graphik;
    letter-spacing: 0.00938em;
}
header{
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    padding: 0% 8% 10px;
    justify-content: space-between;
    height: fit-content;
    background-color: #fff;
    z-index: 10;
}

header a:link, a:visited{
    text-decoration: none;
    color: #161617;
    font-size: 16px;
    box-sizing: content-box;
}

.nav-bar{
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-items: center;
}
.not-mobile{
    padding: 16px 0px;
}
.not-mobile:hover{
    background-color: #5f85a515;
}

.hire-btn{
    border: 0;
    outline: 0;
    padding: 11px 35px;
    border-bottom-right-radius: 10px;
    background-color: #e7332b;
    font-size: 16px !important;
    font-family: Graphik;
    color: #fff;
}

header a:active, .current{
    border-bottom: 3px solid #e7332b;
}

/* HEADER RESPONSIVENESS */
@media screen and (max-width: 768px){
    .not-mobile{
        display: none;
    }
    header{
        padding: 10px 10px 20px 20px;
    }
    .nav-bar{
        width: fit-content;
    }
}
@media screen and (max-width: 375px){
    header{
        padding-right: 15px;
    }
}

/* SECTION 1 */
.section1{
    display: flex;
    padding-top: 200px;
    width: 84%;
    justify-content: space-between;
    margin: 0px auto;
    align-items: center;
    margin-bottom: 100px;
}
span{
    color: #e7332b;
}
.flex-1, .flex-3{
    width: 50%;
}
.flex-2, .flex-4{
    width: 40%;
    position: relative;
}
.flex-1 p:nth-of-type(1), .heading{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    color: #161617;
}
.line{
    display: flex;
    justify-content: right;
    padding-right: 80px;
    margin-top: -20px;
}
.flex-1 p:nth-of-type(2){
    font-size: 19px;
    padding-top: 15px;
    padding-right: 25%;
    padding-bottom: 20px;
    line-height: 1.2;
    opacity: 0.9;
    color: #787878;
}
.btn{
    display: flex;
    gap: 18px;
}
.section1 .hire-btn{
    padding: 11px 50px;
}
.grey-btn{
    background-color: #585858 !important;
}
.right-curve{
    position: absolute;
    right: -22%;
    top: 250px;
    z-index: -1;
}

/* RESPONSIVENESS FOR SECTION 1 */

@media screen and (max-width: 1024px){
    .section1{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .flex-1{
        width: 80%;
    }
    .flex-1 p:nth-of-type(2){
        margin: 0px 40px;
        padding-right: 0;
    }
    .btn{
        width: fit-content;
        margin: 0px auto 50px;
    }
    .section1-img{
        width: 65%;
    }
    .flex-2{
        width: 100%;
    }
    .right-curve{
        position: absolute;
        right: -8%;
        width: 32%;
        top: 350px;
        z-index: -1;
    }
}
@media screen and (max-width: 768px){
    .right-curve{
        display: none;
    }
    .line{
        padding-right: 0px;
        margin-top: -25px;
        margin-right: -10px;
    }
}
@media screen and (max-width: 425px){
    .section1{
        padding-top: 140px;
    }
    .flex-1{
        width: 100%;
    }
    .flex-1 p:nth-of-type(2){
        margin: 0px 20px;
    }
    .line{
        padding-right: 0px;
        margin-top: -15px;
        margin-right: 20px;
    }
    .section1-img{
        width: 100%;
    }
    .flex-1 p:nth-of-type(2){
        font-size: 16px;
    }
    .section1 .hire-btn{
        padding: 11px 32px;
    }
}

/* SECTION 2 */
.section2{
    background-image: url("/img/world-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
}
.section2-flex{
    display: flex;
    width: 84%;
    margin: 0px auto;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 90px;
}
.section2img{
    width: 90%;
}
.flex-3 p:nth-of-type(2), .flex-3 p:nth-of-type(3){
    font-size: 19px;
    padding-top: 10px;
    color: #787878;
    font-weight: 400;
}
.flex-3 p:nth-of-type(2){
    color: #161617;
}
.countries{
    display: flex;
    gap: 10px;
    align-items: center;
}
.countries img{
    background-color: #fff;
    padding: 7px 12px;
    transform: scale(0.9);
    border-radius: 8px;
}

@media screen and (max-width: 768px) {
    .section2{
        background-position: left;
    }
    .section2-flex{
        flex-direction: column;
        gap: 60px;
    }
    .flex-3, .flex-4{
        width: 100%;
        text-align: center;
    }
    .heading{
        font-size: 30px;
        margin: 0px;
    }
    .section2img{
        width: 60%;
    }
    .countries{
        padding-top: 15px;
        width: fit-content;
        margin: 0px auto;
        justify-content: space-between;
    }
    .countries img{
        transform: scale(1.2);
    }
}
@media screen and (max-width: 425px) {
    .section2img{
        width: 100%;
    }
}
@media screen and (max-width: 425px) {
    .section2img{
        width: 100%;
    }
    .flex-3 p:nth-of-type(2), .flex-3 p:nth-of-type(3){
        text-align: left;
        font-size: 16px !important;
    }
    .section2 .heading{
        line-height: normal;
        font-size: 28px !important;
        text-align: left;
    }
    .countries{
        padding-top: 19px;
    }
    .countries img{
        transform: scale(1.5);
    }
}

/* SECTION 3 */
.section3{
    width: 85%;
    margin: 0px auto;
    padding-top: 70px;
    padding-bottom: 70px;
}
.section3 .right-curve{
    right: -35%;
    top: -70px;
    z-index: -40 !important;
}
.section3 .heading:nth-of-type(1){
    width: 40%;
    margin-bottom: 35px;
}
.section3 .heading:nth-of-type(2){
    margin-top: 53px;
    margin-bottom: 35px;
}
.work{
    display: flex;
    justify-content: space-around;
    width: 80%;
    position: relative;
    z-index: inherit;
}
.work p{
    position: relative;
    width: 1fr;
    padding: 11px;
    font-size: 20px;
    color: #787878;
    box-shadow: 0px 8px 30px #7a7a7a29;
    border-radius: 8px;
}

/* RESPONSIVENESS */
@media screen and (max-width: 1024px){
    .section3 .right-curve{
        display: none;
    }
    .work{
        width: 100%;
    }
    .section3 .heading{
        font-size: 30px;
    }
    .work p{
        font-size: 18px;
    }
}
@media screen and (max-width: 768px){
    .section3 .heading{
        text-align: center;
    }
    .section3 .heading:nth-of-type(1){
        width: 70%;
        margin-bottom: 35px;
    }
    .work{
        flex-wrap: wrap;
        justify-content: left;
        width: 100%;
        margin: 0px auto;
        gap: 14px;
    }
    .work p{
        width: 31%;
        margin-bottom: 16px;
        text-align: center;
        font-size: 16px;
    }
}
@media screen and (max-width: 425px){
    .work p{
        width: 47.8%;
    }
    .section3{
        width: 90%;
        margin: 0px auto;
        border: 1px blue solid;
    }
    .section3 .heading:nth-of-type(1){
        width: 100%;
    }
    .work{
        margin: 0px auto;
        border: 1px red solid;
    }
}